@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.container {
	@include container;
	width: 1224px;
	padding: 0 54px;

	&.container-wide {
		@include breakpoint(max-width $breakpoint-md-width) {
			padding: 0;
		}		
	}
}
