html {
    font-size: 15px;
    min-height: 100%;
    line-height: 1.42;
    margin: 0;
}

body {
	line-height: 1.42;
}

p {
  color: $text-color;
}

* {
	box-sizing: border-box;
	// text-rendering: optimizeLegibility;
	// font-kerning: normal;
}

a {
	color: inherit;
	text-decoration: none;
}
