$susy: (
    columns: 12,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: after
    // debug: (image: show)
);


// break points
$breakpoint-sm-width: 480px;
$breakpoint-md-width: 860px;
$breakpoint-lg-width: 1200px;

$breakpoint-xs-width-max: $breakpoint-sm-width - 1;
$breakpoint-sm-width-max: $breakpoint-md-width - 1;
$breakpoint-md-width-max: $breakpoint-lg-width - 1;


//colors

$light-blue: #009fe3;
$text-color: #525252;
$background-color: #fafafa;
$white: #ffffff;
$black: #000000;
$orange: #f28c2b;

// sizing etc

$tiny: 0.5em;
$small: 1em;
$big: 1.2em;
$massive: 1.5em;

html {
	margin-top: 0 !important;
}

$retina-query: (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);
